@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

h1{
  font-size: 44px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.app{
  height: 100vh;
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button{
  width: auto;
  height: auto;
  padding: 3px 6px 3px 6px;
  font-size: 18px;
  background-color: #131313;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

p{
  margin-top: 10px;
}

input{
  background-color: #131313;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}